/*
  Posts
*/

.post-card {
  margin-bottom: 5rem;
}

.posts-container,
.posts-container2 {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}

.posts-container2 {
  margin-bottom: 0rem;
}

.post-card__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-card__content {
  list-style: none;
}

.post-card__media {
  display: flex;
  justify-content: center;
}

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 300px; /* 100%; */
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
}

.thumbnail-container img{
  margin-top: 0%; /* -11.5%; */
  margin-bottom: 0%; /* -11.5%; */
}

.post-card__body {
  @media (max-width: 900px) {
    align-items: flex-start;
    flex-direction: row;
    gap: 1.5rem;

    .post-card__media {
      order: 0;
      flex: 0 0 260px;
      justify-content: flex-start;

      .thumbnail-container {
        margin-bottom: 0;
      }
    }

    .post-card__content {
      order: 1;
    }
  }
}

/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: $sans-serif-font-family;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: $light-gray-color;
  border: 1px solid $pagination-button-color;
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: $link-color;
}

.pagination-active:hover {
  background-color: $pagination-button-color;
}
